* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-left: 30px;
    margin-top: 10px;
}

.button {
    flex: 0.05;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
}

.button.fixed-size {
    width: 10px;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.6em;
}

#brokerForm {
    margin-top: 10px;
    margin-bottom: 10px;
}

#brokerForm .button {
    margin-top: 50px;
}

#callTheCops {
    display: none;
    background-color: red;
    color: white;
    font-size: 1.5em;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: pulse 1.5s infinite;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#callTheCops:hover {
    background-color: darkred;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }
    70% {
        transform: scale(1.05);
        box-shadow: 0 0 20px 20px rgba(255, 0, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
}

#imageContainer > img {
    padding: 5%;
    border-radius: 5px;
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.status-box {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 250px;
    text-align: center;
}

.connected {
    background-color: green;
}

.disconnected {
    background-color: red;
}

.inputContainer {
    position: relative;
    width: 250px; /* Same width as status boxes */
    margin-bottom: 20px;
}

.inputContainer input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Padding for left and right space */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.inputContainer .togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em; /* Slightly larger icon */
    color: #666;
    transition: color 0.3s;
}

.inputContainer .togglePassword:hover {
    color: #333; /* Darker color on hover */
}

.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-container h1 {
    margin-right: 20px;
}

.header-container img {
    max-width: 100px;
    height: auto;
}

.instruction {
    margin-bottom: 10px; /* Spazio inferiore */
    font-weight: bold; /* Testo in grassetto */
    color: #666; /* Colore del testo */
}