* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-left: 30px;
}
.button {
    flex: 0.05;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
}

.button.fixed-size {
    width: 10px;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.6em;
}

#brokerForm {
    margin-top: 10px;
    margin-bottom: 10px;
}

#brokerForm .button {
    margin-top: 50px;
}

#setAlarm {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#setAlarm:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#callTheCops {
    display: none;
    background-color: red;
    color: white;
    font-size: 2em; /* make the button text larger */
    padding: 20px; /* add some padding to make the button larger */
    animation: blink 1s infinite; /* make the button blink */
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
}

#imageContainer > image {
    padding: 5%;
    border-radius: 5px;
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}